{% extends "master.html" %}
{% block title %}Index{% endblock %}
{% block content%}
    <div class="container">

		<form class="form-signin" action="#" onSubmit="return bewareLogin(this);">
			<h1>{{siteTitle}}</h1>
			<hr/>
			<h3 class="form-signin-heading">{{ navitext['login-banner'] }}</h3>
			{% if error %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endif %}

			<div id="error-popup" class="alert alert-danger alert-dismissible" style ="display: none;" role="alert">
  				<a class="close" onclick="$('#error-popup').hide()">×</a>
  				<div id="error-popup-message"></div>
			</div>

	    	<label for="user" class="sr-only">{{ navitext['tagid'] }}</label>
			<input type="text" class="form-control" name="user" placeholder="{{ navitext['tagid'] }}" required autofocus/><br/>
			<label for="password" class="sr-only">{{ navitext['password'] }}</label>
			<input type="password" name="password" class="form-control" placeholder="{{ navitext['password'] }}" required/><br/>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ navitext['submit'] }}</button>
		</form>
	</div>
{% endblock %}
