{% extends "master.html" %}
{% block title %}Index{% endblock %}
{% block content%}
    <div class="container">

		<form class="form-signin" action="login" method="post">
			<h1>{{siteTitle}}</h1>
			<hr/>
			<h3 class="form-signin-heading">Please login</h3>
			{% if error %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endif %}

	    	<label for="user" class="sr-only">Tag ID / Username</label>
			<input type="text" class="form-control" name="user" placeholder="Username/Tag" required autofocus/><br/>
			<label for="password" class="sr-only">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Password" required/><br/>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</form>
	</div>
{% endblock %}