{% extends "master.html" %}
{% block title %}Index{% endblock %}
{% block content%}

<h2>{{siteTitle}}</h2>

<hr/>
  <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      {% for index, name in objects %}
    	<li role="presentation"><a role="tab" id="obj-{{ index }}-tab" data-toggle="tab"  aria-controls="obj-{{ index }}-tab" >{{ name }}</a></li>
	  {% endfor %}
	  </ul>
	
	<div id="error-popup" class="alert alert-danger alert-dismissible" style="max-width: 570px; margin: 20px; display: none;" role="alert">
	  	<a class="close" onclick="$('#error-popup').hide()">×</a>
  		<div id="error-popup-message"></div>
	</div>
	
	
    <div id="reservations-content" class="tab-content">
    Reservations will appear here. Please select your object.
    </div>
  </div>

<br/>
<div class="navibuttons">
<button id="prev-btn" type="button" class="btn btn-default btn-sm active">&lt;- Prev</button>
<button id="logout-btn" class="btn btn-sm btn-default active"> Logout </button>
<button id="next-btn" type="button" class="btn btn-default btn-sm active">Next -&gt;</button>
</div>

<script type="text/javascript">
$(document).ready(function(){
{% for index, name in objects %}
    $("#myTab a#obj-{{ index }}-tab").click(function(e){
    	loadReservations({{ index }}, -1);
        e.preventDefault();
        $(this).tab('show');
    });
{% endfor %}
    $("#myTab a#obj-{{ objects[0][0] }}-tab").click();
});

$("#logout-btn").click(function(e) {
	jQuery.ajax({
        type: "GET",
        url: "logout",
        success: function (response) {
        	window.location.replace("index");
        },
        error: checkXhr,
    });
});
</script>

{% endblock %}
