{% set lastDate = None %}

<div>
{% for r in reservations %}
	{% if lastDate != r.start.date() %}
	{% set lastDate = r.start.date() %}
	{% set dayOfWeek = weekdays[r.start.date().weekday()] %}
	</div><div class="res-date" style="margin: 5px;">
	<button type="button" class="btn btn-reservation btn-default active">{{ dayOfWeek }}<br/>{{ lastDate.strftime("%m-%d") }}</button>
	<br/>
	{% endif %}
    {% if r.state == 0 %}
    <button onclick="javascript:makeReservation({{ r.object }}, {{ r.startTs }}, {{ r.endTs }});"
       class="btn btn-reservation btn-default" role="button">{{ r.getIntervalString() }}</button>
    {% endif %}
    {% if r.state == 1 %}
    <button type="button" class="btn btn-reservation btn-danger active">{{ r.getIntervalString() }}</button>
    {% endif %}
    {% if r.state == 2 %}
    <button onclick="javascript:cancelReservation({{ r.object }}, {{ r.startTs }});"
	   class="btn btn-reservation btn-success active" role="button">{{ r.getIntervalString() }}</button>
    {% endif %}
    {% if r.state == 3 %}
    <button type="button" class="btn btn-reservation btn-default disabled" style="background-color: darkgrey;">{{ r.getIntervalString() }}</button>
    {% endif %}
    <br/>
{% endfor %}
</div>

<script type="text/javascript">
curTs = {{ curTs }};

$(function() {
  $("#next-btn").off("click");
  $("#next-btn").click(function(e) {
  	loadReservations({{ object }}, {{ nextTs }});
  });
});

$(function() {
  $("#prev-btn").off("click");
  $("#prev-btn").click(function(e) {
    loadReservations({{ object }}, {{ prevTs }});
  });
});
</script>
